 main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
 }

 section {
    grid-column: 1/13;
    background-color: white;
 }

 .container {
    width: 60%;
    padding: 40px;
    margin: 50px auto;
    border: none;
    box-shadow: 5px 5px 20px 5px rgba(18, 19, 48, 0.5);
    text-align: center;
    border-radius: 20px;
    color: #2E307A;
 }

 form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
 }

 .headcon {
    width: 80%;
    color: white;
    background-color: #2E307A;
    margin-bottom: 30px;
}

.form-field {
    width: 70%;
    margin-bottom: 30px;
    padding: 5px;
}

 .button {
    background-color: #ED9275;
    width: 200px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: 700;

 }
 
 button a {
    color: white;
    text-decoration: none;
 }
 
 a:hover {
    text-decoration: none;
    color: #2E307A;
 }

 .error {
    background-color: red;
    color: white;
    width: 60%;
    text-align: center;
    padding: 5px
 }


 .noerror {
        background-color: green;
        color: white;
        width: 60%;
        text-align: center;
        padding: 5px;
 }

 .container a .button {
    background-color: #2E307A;
 }