.container{
    display:flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
label{
    font-size: large;
}
.info{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}
.info h3{
    font-family: Roboto, sans-serif;
    font-size: 35px;
    margin: 10px 0 0;
    color:#2e307a;
}
.photo{
    width: 276px;
    height: 276px;
}
.photo img{
    width: 276px;
    height: 276px;
    border-radius: 10px;
    box-shadow: 0 5px 10px grey;
}
input{
    margin: 5px;
    padding: 3px;
    border: 0;
    background-color: #d9d9d9;
    
}
.input_text{
    width: 444px;
    height: 34px;
    margin: 15px 15px 15px 0;
}
#description{
    width: 444px;
    height: 100px;
    margin: 15px 15px 15px 0;
    resize: none;
    background-color: #d9d9d9;
    border: 0;
}

.header{
    background-color: #2e307a;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h2{
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: Roboto, serif;
}

.new_talents{
    padding: 15px;
}
.delete_talent{
    padding: 15px;
    font-family: Roboto, serif;
    font-size: 15px;
}
.delete_talent h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.new_talents h2{
    font-family: Roboto, serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.new_talents button{
    margin-top: 20px;
} 
 
.radiob{
    font-family: Roboto, serif;
    font-size: 15px;
}
.form_register{
    font-family: Roboto, serif;
    font-size: 15px;
}

.form_register button{
    background-color: #ed9275;
    border: 0;
    color: white;
    font-family: Roboto, serif;
    width: 137px;
    height: 38px;
    border-radius: 5px;
    font-size: 20px;
}
.form_delete button{
    background-color: #ed9275;
    border: 0;
    color: white;
    font-family: Roboto, serif;
    width: 137px;
    height: 38px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}
input[type=submit]{
    background-color: #ED9275;
    border-radius: 5px;
    color: white;
}
.add_admin{
    padding: 15px;
    font-family: Roboto, serif;
    font-size: 15px;
}
.add_admin h2{
    font-size: 30px;
    margin-bottom: 20px;
}
select{
    width: 444px;
    height: 34px;
    border: 0;
    background-color: #D9D9D9;
}
.error{
    color: red;
    font-size: 15px;
    font-family: Roboto, serif;
}
.success{
    color: green;
    font-size: 20px;
    font-family: Roboto, serif;
}
.check{
    animation-name: check;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes check {
    from {
        color: green
    }
    to {
        color: red;
    }
}
.last_buttons{
    display: flex;
    justify-content: center;
}
.logout{
    justify-items: center;
}


