.container{
    display:flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
label{
    font-size: large;
}
.info{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}
.info h3{
    font-family: Roboto;
    font-size: 35px;
    margin: 0;
    margin-top: 10px;
    color:#2e307a;
}
.photo{
    width: 276px;
    height: 276px;
}
.photo img{
    width: 276px;
    height: 276px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px grey;
}
input{
    margin: 5px;
    padding: 3px;
    border: 0;
    background-color: #d9d9d9;
    
}

.input_text{
    width: 444px;
    height: 34px;
    margin: 15px;
    margin-left: 0;
}

.header{
    background-color: #2e307a;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h2{
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: Roboto;
}

.new_talents{
    padding: 15px;
}
.delete_talent{
    padding: 15px;
    font-family: Roboto;
    font-size: 15px;
}
.delete_talent h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.new_talents h2{
    font-family: Roboto;
    font-size: 30px;
    margin-bottom: 20px;
}

.new_talents button{
    margin-top: 20px;
} 
 
.radiob{
    font-family: Roboto;
    font-size: 15px;
}
.form_register{
    font-family: Roboto;
    font-size: 15px;
}

.form_register button{
    background-color: #ed9275;
    border: 0;
    color: white;
    font-family: Roboto;
    width: 137px;
    height: 38px;
    border-radius: 5px;
    font-size: 20px;
}
.form_delete button{
    background-color: #ed9275;
    border: 0;
    color: white;
    font-family: Roboto;
    width: 137px;
    height: 38px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}
.add_admin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

