* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#body{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	font-family: Roboto, sans-serif;
	padding-bottom: 5%;
}
#header_2{
	grid-column: 1/13;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #2E307A;
	height: 244px;
	padding-top: 5%;
	padding-left: 9%;
}
.header_2_text{
	font-size: 35px;
}
.header_text{
	font-size: 20px;
	width: 55%;
}


#talent_form{
	grid-column: 1/7;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 17%;
	margin-right: 17%;
	line-height: 2;
	margin-top: 2%;
}
input[type=text], input[type=email]{
	width: 100%;
	height: 32px;
	color: #2E307A;
	border-color: #2E307A;
}
.form_2{
	width: 100%;
	height: 32px;
	color: #2E307A;
	border-color: #2E307A;
	margin-left: 8%;
}
.label_2{
	font-size: 22px;
	margin-left: 8%;
	color: #2E307A;
}
input[type=submit]{
	width: 91px;
	border-radius: 5px;
	color: white;
	border: 0;
	font-size: 20px;
	background-color: #ED9275;
	margin-top: 2%;
}.for_talent{
	 font-size: 30px;
 }
.for_client{
	font-size: 30px;
	margin-left: 8%;
}
.textarea_1{
	width: 100%;
	height: 284px;
	color: #2E307A;
	border-color: #2E307A;
	margin-left: 8%;
}
input[type=submit].submit_2{
	width: 91px;
	border-radius: 5px;
	color: white;
	border: 0;
	font-size: 20px;
	background-color: #ED9275;
	margin-top: 1.5%;
	margin-left: 8%;
}
textarea{
	resize: none;
	width: 100%;
	height: 284px;
	color: #2E307A;
	border-color: #2E307A;
}
.label_1{
	color: #2E307A;
	font-size: 22px;
}
#client_form{
	grid-column: 7/13;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-right: 34.5%;
	line-height: 2;
	padding-left: 2%;
}
.vertical_line{
	border-left: 7px solid #2E307A;
	height: 700px;
	margin-left: -3%;
	margin-top: 2%;
}


/* form */


.message1 {
	grid-column: 3/5;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #2E307A;
	color: white;
	padding: 15px;
	text-align: center;
	width: 450px;
}

.message2 {
	grid-column: 9/10;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #2E307A;
	color: white;
	padding: 15px;
	text-align: center;
	width: 450px;
}

.message1 b {
	font-size: 16px;
	color:#ED9275;
}

.message2 b {
	font-size: 16px;
	color:#ED9275;
}

@media screen and (max-width: 393px) {
	#header_2{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		height: 135px;
		text-align: center;
	}
	.header_text{
		padding-top: 3px;
		font-size: 10px;
		width: 80%;

	}
	.header_2_text{
		font-size: 25px;

	}


	#talent_form{
		grid-column: 1/13;
		margin-left: 4.5%;
		margin-right: 29.5%;
	}
	#client_form{
		grid-column: 1/13;
		line-height: normal;
	}
	.vertical_line{
		border-left: none;
	}
	.label_2{
		font-size: 12px;
	}
	.label_1{
		font-size: 12px;
	}
	input[type=text], input[type=email]{
		height: 21px;
	}
	textarea{
		height: 154px;
	}
	.textarea_1{
		height: 154px;
	}
	.for_talent{
		font-size: 15px;
	}
	.for_client{
		font-size: 15px;
	}
	input[type=submit]{
		height: 23px;
		font-size: 15px;
	}
	.submit_2{
		height: 23px;
		font-size: 15px;
	}
}