/*Contains the css part for the footer and header*/

*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 15vh;
    display:flex;
    justify-content: space-around;
    font-family:  Roboto;
    align-items: center;
}
header img{
    height: 4em;
    width: 7em;
}
header ul{
    font-weight: bold;
    list-style-type: none;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
header ul li{
    display:inline-block;
    padding: 5px;
    font-size: 1vw;
}
a{
    text-decoration: none;
    color:#2A2B68;
}
.underline:hover{
    text-decoration: underline;
}
#a-color{
    color:white;
}
#login{
    color:white;
    background-color: #ED9275;
    height: 1.5vw;
    width: 4vw;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #2A2B68;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Roboto;
    height: 20vh;
}

#contact_us{
    background-color:#ED9275;
    width: 7vw;
    height: 4vh;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    font-size: 2vh;
}

footer h2{
    font-weight: 500;
}

footer h4{
    font-style: italic;
    font-weight: 400;
}

#rows{
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin: 2em;
}