
main {
    font-family: Roboto, sans-serif;
}

#normal_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: #2E307A;
    width: 30%;
    height: 45%;
    border-radius: 9px;
    text-align: center;
}
.login{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin-right: 63%;
}
#login_p{
	margin-bottom: 20px;
	margin-top: 10px;
}
input{
    width: 80%;
}
label{
    color: white;
    font-size: 22px;
    font-weight: lighter;
    margin-right: 58%;

}
.email{
    color: white;
    font-size: 22px;
    font-weight: lighter;
    margin-right: 66%;
}
input[type=submit]{
    background-color: #ED9275;
    border: none;
    color: white;
    width: 15%;
    height: 30%;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 65%;
}
.power{
    display: flex;
    justify-content: center;
    margin-top: -7%;
}
.powered{
    font-family: "Roboto Light", sans-serif;
    font-style: italic;
    font-size: 1.25em;
}

.error {
    color: red;
}   


@media screen and (max-width: 393px){
    form{
		display:flex;
		flex-direction: column;
		justify-content: center;
        width: 90%;
        height: 34%;
        margin-bottom: 100%;
    }
    label{
        font-size: 15px;
        padding-right: 2%;
    }
    .login{
        font-size: 20px;
        padding-left: 1%;
		margin-top: 10px;
    }
	.email{
		font-size: 15px;
		padding-right: 2%;
	}
    input[type=submit]{
        font-size: 10px;
    }
    .power{
        display: flex;
        justify-content: center;
    }
    .powered{
        font-family: "Roboto Light", sans-serif;
        font-style: italic;
        font-size: 1.25em;
    }
	input[type=submit]{
		height: auto;
	}
}