
main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

/*Styling on the section text*/
section {
	grid-column: 1/13;
	background-color: #2E307A;
	height: 244px;
}

section h3 {
	font-size: 35px;
	color: white;
}

section p {
	font-size: 20px;
	color: white;
}

.container {
	grid-column: 1/13;
	margin-top: 70px ;
	text-align: center;
}


sub-section {
	grid-column: 1/13;
}

#mainbody {
	max-width: 100%;
	padding: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

h2 {
	font-size: 35px;
	margin-top: 5px;
}

.talents {
	display: flex;
	flex-wrap: wrap;
}

/*Styling for the talent category form*/
form {
	margin-top: 15px;
}

#talents {
	width:300px;
	margin-top: 10px;
	padding: 8px 10px;
	font-size: 16px;
	border: none;
}

.label {
	font-size: 20px;
}

.submit_button{
	background-color: #ED9275;
	border: 0;
	color: white;
	height: 40px;
	width: 80px;
	margin-left: 5px;
	font-size: 18px;
}

.main_container{
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    width: 24vw;
    height: 499px;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5vw 0.5vw 1vw grey;
}

.main_container img{
    border-radius: 5%;
    width: 13vw;
    height: 55vh;
    margin: 1vw;
	margin-bottom: 0;
	margin-top:5px;
}

h6{
    margin: 0;
}

#rows{
    display: flex;
    flex-direction: row;
}

#description{
    border: 0px;
    border-bottom: 1.5px;
    border-style: solid;
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    width: 284px;
    height: 94px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h2{
    color: #2e307a;
	margin-bottom: 5px;
}

h4{
    margin-top: 5px;
	margin-bottom: 5px;
    font-weight: normal;
    font-family: Montserrat;
}

.main-contaier button{
    margin-bottom: 10px;
    border-radius: 20%;
	border: 0px;
}
#view_button{
	border: 0px;
	background-color: white;
	color: black;
}



  @media screen and (max-width: 396px) {
	section{
		height: 137px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	section h3{
		font-size: 18px;
	}
	.container{
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}
	section p{
		font-size:17px;
		display: flex;
		flex-direction: column;
		width: 380px;
		font-size: 15px;
		font-style: italic;
	}
	#mainbody h2{
		font-size: 20px;
	}
	#talents{
		width: 100px;
		height: 35px;
	}
	.label{
		display:none;
	}
	
  }