/*General styling for the whole page*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

body{
	display:flex;
}

main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

/*Styling on the section text*/
section {
	grid-column: 1/13;
	background-color: #2E307A;
	height: 244px;
}

section h3 {
	font-size: 35px;
	color: white;
}

section p {
	font-size: 20px;
	color: white;
}

.container {
	margin-top: 70px ;
	text-align: center;
}


sub-section {
	grid-column: 1/13;
}

#mainbody {
	max-width: 100%;
	padding: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

h2 {
	font-size: 40px;
}

.talents {
	display: flex;
	flex-wrap: wrap;
}


/*Styling for the talent category form*/
form {
	margin-top: 15px;
}

#talents {
	width:300px;
	margin-top: 10px;
	padding: 8px 10px;
	font-size: 16px;
	border: none;
}

.label {
	font-size: 20px;
}


  @media screen and (max-width: 396px) {
	section{
		height: 137px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	section h3{
		font-size: 18px;
	}
	.container{
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}
	section p{
		font-size:17px;
		display: flex;
		flex-direction: column;
		width: 380px;
		font-size: 15px;
		font-style: italic;
	}
	#mainbody h2{
		font-size: 20px;
	}
	#talents{
		width: 100px;
		height: 35px;
	}
	.label{
		display:none;
	}
	
  }